  html{
    height: 100%;
  }
  .assignment-item{
    border-radius: 6px;
    /* color: grey; */
    border-width: 4px;
    border-color: black !important;
    padding-left: 10px;
    border: solid;
    border-color: grey !important;
    border-width: medium;
    /* border-radius: 50px !important; */
    margin-left: 30px !important;
  }

  .assignment-name{
    color: black;
    font-size: 20px;
    margin-bottom: 0%;
    margin-top: 0px;
  }

  .assignment-subject{
    color: rgba(69,69,69,1);
    font-size: 15px;
    margin-bottom: 5%;
    margin-top: 0px;
  }

  .assignment-content{
    padding: 10px !important;
  }

  .not-submitted{
    color: red !important;
    font-size: 20px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
  }

/* https://www.schemecolor.com/faded-green.php */
  .submitted{
    background-color: #7BC17E !important;
    color: #A4D1A2 !important;
    font-size: 20px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .due{
    color: orange;
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
    /* text-align: center; */
  }

  .submit-button{
    /* background-color: #6d9eebff;
    padding: 5px;
    padding-left: 9px;
    padding-right: 9px;
    margin-top: 5%;
    font-size: 25px;
    width: auto;
    color: black;
    border-radius: 4px;
    text-align: center;
    margin-left: 29% */
  }

.classes{
  border-radius: 10px;
  border-width: medium;
  border: solid;
  border-color: grey;
  margin-top: 50px;
  width: 200px;
}

/* .classes b{
  margin: 10px !important;
  padding-top: 10px !important;
} */

.class_text{
    margin: 5px;
}

.class_text li{
  padding: 5px;
  border-radius: 5px;
  transition: .5s ease;
  margin-top: 2.5px;
}

.class_text li:hover{
  background-color: #003255;
  color: white;
}

a{
  color: #F28650;
}
